@charset "UTF-8";
/* variables */
/* mixins */
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* acomodo estilos por bootstrap */
.seccion-tablas a {
  text-decoration: none;
  color: black;
}

.seccion-tablas h2 {
  font-family: "Poppins", serif;
  color: rgb(88, 155, 178);
  text-align: center;
  font-size: 32px;
}

.seccion-tablas p {
  font-family: "Poppins", serif;
}

/*nav*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  color: black;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

/* hero */
.Hero {
  background-image: url("../img/sabrina_header.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 100px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  background-attachment: fixed;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(24, 86, 181, 0.7);
}

/* cuerpo */
body {
  font-family: "Poppins", serif;
}

body p {
  margin: 20px;
  padding: 0 100px;
}

/* Footer */
footer {
  position: sticky;
  background-color: lightblue;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

footer img {
  width: 20px;
  height: 20px;
}

/* contenedor canciones */
.contenedor-canciones {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.contenedor-canciones div {
  text-align: center;
  font-family: "Poppins", serif;
}

.contenedor-canciones img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 30px;
}

/* último lanzamiento */
.ultimo-lanzamiento {
  background-image: url(../img/portada-musica.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  padding: 0 0 0 180px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.ultimo-lanzamiento h2 {
  font-size: 35px;
  padding-left: 70px;
  color: white;
  text-align: left;
  margin-top: 20px;
}

.ultimo-lanzamiento a {
  text-decoration: none;
  color: inherit;
}

/* títulos */
h2 {
  color: rgb(88, 155, 178);
  text-align: center;
  font-size: 32px;
}

.subs h3 {
  color: white;
  background-color: lightblue;
  padding: 10px 100px;
  font-family: "Poppins", serif;
}

.seccion-tablas {
  padding-top: 60px;
}

.actuacion {
  padding-top: 70px;
}

/*seccion moda*/
.moda-titulo {
  padding-top: 90px;
}

.moda section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* tres imágenes por fila */
  gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}

.moda section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  padding: 10px;
}

.moda section h3,
.moda section p {
  width: 100%;
  text-align: center;
  grid-column: span 3;
}

.moda section h3 {
  color: white;
  background-color: lightblue;
  padding: 10px 100px;
}

.moda section p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 16px;
}

/*biografia*/
.biografia {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 20px;
  gap: 20px;
}

.biografia img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 30px;
  object-fit: cover;
  grid-column: 1;
  border-radius: 8px;
}

.biografia p {
  grid-column: 2;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  font-family: "Poppins", serif;
}

.subs h2 {
  color: rgb(88, 155, 178);
  text-align: center;
  font-size: 32px;
  font-family: "Poppins", serif;
}

.subs h4 {
  font-family: "Poppins", serif;
}

/*animaciones*/
.contenedor-canciones img {
  transition: transform 0.3s ease-in-out;
}

.contenedor-canciones img:hover {
  transform: scale(1.05); /*se agrandan cuando el cursor está sobre ellas*/
}

nav ul li {
  transition: opacity 0.3s ease;
}

nav ul li:hover {
  opacity: 0.7; /* pierde opacidad la opción del menú cuando pasa el cursor sobre ella*/
}

footer {
  opacity: 0; /* invisible */
  transform: translateY(50px); /* se desplaza hacia abajo */
  animation: fadeInUp 1s ease-out forwards;
}

footer img:hover {
  opacity: 0.7; /*pierde opacidad cuando el cursor pasa sobre el ícono*/
}
@keyframes fadeInUp {
  0% {
    opacity: 0; /* opacidad 0 */
    transform: translateY(50px); /* se desplaza hacia abajo */
  }
  60% {
    opacity: 0.5; /* empieza a aparecer */
    transform: translateY(-10px); /*se desplaza hacia arriba */
  }
  100% {
    opacity: 1; /* queda visible */
    transform: translateY(0); /* posición original */
  }
}

.Hero h1 {
  animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
  from {
    opacity: 0; /*opacidad 0*/
    transform: translateY(50px); /*se desplaza hacia abajo*/
  }
  to {
    opacity: 1; /*visible*/
    transform: translateY(0); /*posicion original*/
  }
}

.moda img {
  transition: transform 0.3s ease-in-out;
}

.moda img:hover {
  transform: scale(1.05);
}

.seccion-tablas tr td {
  transition: 0.3s ease;
}

.seccion-tablas tr td:hover {
  transform: scale(1.02); /* aumento suave*/
}

.ultimo-lanzamiento h2, .ultimo-lanzamiento h1 {
  position: relative;
  transform: translateX(-100%); /* por fuera de la pantalla */
  animation: slide-in 1s ease-out forwards; /* animación */
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/*responsive 768*/
@media screen and (max-width: 768px) {
  /* footer */
  footer {
    font-size: 12px; /* tamaño mas chico */
    padding: 8px;
  }
  footer img {
    width: 12px; /* mas chico*/
    height: 12px;
  }
  .Hero {
    font-size: 24px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/sabrina_header_celular.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(24, 86, 181, 0.7);
  }
  .biografia p {
    font-size: 16px;
    line-height: 1.6;
    padding-right: 15px;
    text-align: justify; /* justificado */
    margin: 0 20px;
  }
  .biografia {
    display: flex; /* flexbox*/
    flex-direction: column; /* de forma vertical */
    align-items: center; /* elementos centrados */
    padding: 20px;
  }
  /* imagen biografía */
  .biografia img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }
  /* títulos */
  h2 {
    font-size: 24px;
    padding: 10px 20px;
  }
  h3 {
    font-size: 20px;
    padding: 10px 20px;
  }
  /* contenedor de canciones */
  .contenedor-canciones {
    display: flex;
    flex-direction: column; /* apilados */
    align-items: center;
    padding: 0 20px;
  }
  /* imagenes contenedor canciones */
  .contenedor-canciones img {
    width: 100%;
    width: 350px; /*defino el ancho*/
    height: auto;
    margin-bottom: 20px;
  }
  .seccion-tablas p {
    padding: 0;
    margin: 15px;
  }
  .moda section {
    display: grid; /* grid */
    grid-template-columns: repeat(2, 1fr); /* dos columnas por fila */
    gap: 20px;
    justify-items: center;
    margin-bottom: 40px;
  }
  .moda section img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .moda section h3, .moda section p {
    text-align: center;
    width: 100%;
    grid-column: span 2; /* el texto ocupa todo ancho */
  }
}
/*responsive 480*/
@media screen and (max-width: 480px) {
  /*footer*/
  footer {
    font-size: 10px;
    padding: 6px; /* menos padding */
  }
  footer img {
    width: 16px; /* íconos más chicos */
    height: 16px;
  }
  /* hero*/
  .Hero {
    font-size: 24px; /*mas chiquito*/
    padding-left: 20px;
    text-align: center;
    background-image: url("../img/sabrina_header_celular.jpg"); /*cambie imagen*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* texto de biografía */
  .biografia p {
    font-size: 14 px; /* tamaño más chiquito */
    line-height: 1.5; /*interlineado más chiquito */
    padding-right: 10px;
    text-align: left;
  }
  .biografia {
    display: flex; /* flexbox*/
    flex-direction: column; /* de forma vertical */
    align-items: center; /* elemntos centrdos */
    padding: 10px;
  }
  /* imagen biografía*/
  .biografia img {
    width: 100%;
    margin-top: 20px; /* espacio encima de la imagen */
  }
  /* titulos más chiquitos*/
  h2 {
    font-size: 24px;
    padding: 10px 20px;
  }
  h3 {
    font-size: 16px;
    padding: 10px 20px;
  }
  /* contenedor de canciones */
  .contenedor-canciones {
    display: flex;
    flex-direction: column; /*apilados*/
    align-items: center;
    padding: 0 20px;
  }
  /* imagenes contenedor canciones */
  .contenedor-canciones img {
    width: 100%;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  .contenedor-canciones h4 {
    font-size: 14 px;
  }
  /* último lanzamiento */
  .ultimo-lanzamiento {
    background-image: url(../img/portada-musica\ -\ copia.jpg); /*cambio foto*/
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centro el contenido en y */
    align-items: center; /* centro contenido en x */
    color: white;
    font-family: "Times New Roman", Times, serif;
  }
  /* tamaño h1 */
  .ultimo-lanzamiento h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin-right: 50%;
  }
  /*tamaño h2 */
  .ultimo-lanzamiento h2 {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding: 0;
    margin-right: 50%;
  }
  /*seccion moda*/
  .moda section {
    display: flex; /* flexbox */
    flex-direction: column; /* elementos verticalmente */
    gap: 10px;
    padding: 0 10px;
  }
  .moda section img {
    width: 100%; /* todo el ancho */
    height: auto;
    object-fit: cover;
    padding: 10px;
  }
  .moda section h3 {
    font-size: 16px;
  }
  .moda section p {
    font-size: 14 px;
  }
}

/*# sourceMappingURL=styles.css.map */
