/* variables */
$primary-color: rgb(88, 155, 178);
$light-blue: lightblue;
$white: white;
$font-main: "Poppins", serif;
$font-title: "Times New Roman", Times, serif;
$font-alt: 'Bebas Neue', sans-serif;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-bio-phone: 14 px;
$font-size-small-phone:10px;
$font-size-small-tablet:12px;
$font-size-hero: 40px;
$font-size-subtitle: 35px;
$max-img-width: 300px;
$img-height: 600px;
$img-footer-tablet:12px;
$img-footer-phone:16px;
$bg-hero: url('../img/sabrina_header_celular.jpg');
$bg-hero-normal: url('../img/sabrina_header.avif');
$bg-last-release: url(../img/portada-musica\ -\ copia.jpg);

/* mixins */
@mixin text-center {
  text-align: center;
}

@mixin font-main {
  font-family: $font-main;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  text-shadow: 2px 2px 8px rgba(24, 86, 181, 0.7);
}

@mixin img-responsive {
  width: 100%;
  height: auto;
  max-width: $max-img-width;
  margin: 30px;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* acomodo estilos por bootstrap */
.seccion-tablas a {
  text-decoration: none;
  color: black;
}

.seccion-tablas h2 {
  @include font-main;
  color: $primary-color;
  @include text-center;
  font-size: $font-size-large;
}

.seccion-tablas p {
  @include font-main;
}

/*nav*/
nav {
  @include flex-center;
  background-color: $light-blue;
  color: black;
  padding: 10px;
} 

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: $font-alt;
  font-size: $font-size-medium;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

/* hero */
.Hero {
  background-image:$bg-hero-normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  @include flex-center;
  color: $white;
  padding-left: 100px;
  font-size: $font-size-hero;
  font-family: $font-title;
  background-attachment: fixed;
  @include text-center;
  @include box-shadow;
}

/* cuerpo */
body {
  font-family: $font-main;
}

body p {
  margin: 20px;
  padding: 0 100px;
}

/* Footer */
footer {
  position: fixed;
  background-color: $light-blue;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  @include flex-center;
  gap: 30px;
}

footer img {
  width: 20px;
  height: 20px;
}

/* contenedor canciones */
.contenedor-canciones {
  @include flex-center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.contenedor-canciones div {
  @include text-center;
  @include font-main;
}

.contenedor-canciones img {
  @include img-responsive;
}

/* último lanzamiento */
.ultimo-lanzamiento {
  background-image: url(../img/portada-musica.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: $white;
  padding: 0 0 0 180px;
  font-size: $font-size-hero;
  font-family: $font-title;
}

.ultimo-lanzamiento h2 {
  font-size: $font-size-subtitle;
  padding-left: 70px;
  color: $white;
  text-align: left;
  margin-top: 20px;
}

.ultimo-lanzamiento a {
  text-decoration: none;
  color: inherit;
}

/* títulos */
h2 {
  color: $primary-color;
  @include text-center;
  font-size: $font-size-large;
}

.subs h3 {
  color: $white;
  background-color: $light-blue;
  padding: 10px 100px;
  @include font-main;
}

.seccion-tablas {
  padding-top: 60px;
}

.actuacion {
  padding-top: 70px;
}
/*seccion moda*/

.moda-titulo {
  padding-top: 90px;
}

.moda section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* tres imágenes por fila */
  gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}

.moda section img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  padding: 10px;
}

.moda section h3,
.moda section p {
  width: 100%;
  @include text-center();
  grid-column: span 3;
}

.moda section h3 {
  color: $white;
  background-color: $light-blue;
  padding: 10px 100px;
}

.moda section p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: $font-size-small;
}
/*biografia*/
.biografia {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin: 20px;
  gap: 20px;
}

.biografia img {
  @include img-responsive;
  object-fit: cover;
  grid-column: 1;
  border-radius: 8px;
}

.biografia p {
  grid-column: 2;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  @include font-main;
}

.subs h2 {
  color: $primary-color;
  @include text-center;
  font-size: $font-size-large;
  @include font-main;
}

.subs h4 {
  @include font-main;
} 
/*animaciones*/ 
.contenedor-canciones img {
  transition: transform 0.3s ease-in-out;
}

.contenedor-canciones img:hover {
  transform: scale(1.05); /*se agrandan cuando el cursor está sobre ellas*/
}
nav ul li {
  transition: opacity 0.3s ease;
}

nav ul li:hover {
  opacity: 0.7; /* pierde opacidad la opción del menú cuando pasa el cursor sobre ella*/
}
footer {
  opacity: 0; /* invisible */
  transform: translateY(50px); /* se desplaza hacia abajo */
  animation: fadeInUp 1s ease-out forwards;
}
footer img:hover{
  opacity:0.7; /*pierde opacidad cuando el cursor pasa sobre el ícono*/
}

@keyframes fadeInUp {
  0% {
    opacity: 0; /* opacidad 0 */
    transform: translateY(50px); /* se desplaza hacia abajo */
  }
  60% {
    opacity: 0.5; /* empieza a aparecer */
    transform: translateY(-10px); /*se desplaza hacia arriba */
  }
  100% {
    opacity: 1; /* queda visible */
    transform: translateY(0); /* posición original */
  }
}
.Hero h1 {
  animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInUp {
  from {
    opacity: 0; /*opacidad 0*/
    transform: translateY(50px);/*se desplaza hacia abajo*/
  }
  to {
    opacity: 1; /*visible*/
    transform: translateY(0); /*posicion orgiinal*/
  }}
.moda img {
  transition: transform 0.3s ease-in-out;
}
.moda img:hover{
  transform: scale(1.05);
}

/*responsive 768*/

@media screen and (max-width: 768px) {
  /* footer */
  footer {
      font-size: $font-size-small-tablet; /* tamaño mas chico */
      padding: 8px;
  }

  footer img {
      width: $img-footer-tablet; /* mas chico*/
      height: $img-footer-tablet;
  }
  .Hero {
      font-size: $font-size-medium; 
      padding-left: 15px; 
      @include flex-center();
      background-image: url('../img/sabrina_header_celular.jpg'); 
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 60vh; 
      display: flex;
      @include text-center;
      @include box-shadow;
  }
  .biografia p {
      font-size: $font-size-small;
      line-height: 1.6; 
      padding-right: 15px; 
      text-align: justify; /* justificado */
      margin: 0 20px; 
  }
  .biografia {
      display: flex; /* flexbox*/
      flex-direction: column; /* de forma vertical */
      align-items: center; /* elementos centrados */
      padding: 20px;
  }

  /* imagen biografía */
  .biografia img {
      width: 100%;
      max-width: 400px; 
      margin-top: 20px;
  }

  /* títulos */
  h2 {
      font-size: $font-size-medium; 
      padding: 10px 20px;
  }

  h3 {
      font-size: 20px; 
      padding: 10px 20px;
  }

  /* contenedor de canciones */
  .contenedor-canciones {
      display: flex;
      flex-direction: column; /* apilados */
      align-items: center;
      padding: 0 20px;
  }

  /* imagenes contenedor canciones */
  .contenedor-canciones img {
      width: 100%;
      width: 350px; /*defino el ancho*/
      height: auto;
      margin-bottom: 20px;
  }
  .seccion-tablas p{
      padding: 0;
      margin: 15px;
}
.moda section {
  display: grid; /* grid */
  grid-template-columns: repeat(2, 1fr); /* dos columnas por fila */
  gap: 20px;
  justify-items: center;
  margin-bottom: 40px;
}

.moda section img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.moda section h3, .moda section p {
  text-align: center;
  width: 100%;
  grid-column: span 2; /* el texto ocupa todo ancho */
}
}
/*responsive 480*/
@media screen and (max-width: 480px){ 
  /*footer*/
  footer {
      font-size: $font-size-small-phone;
      padding: 6px; /* menos padding */
  }

  footer img {
      width: $img-footer-phone; /* íconos más chicos */
      height: $img-footer-phone;
  }
  
/* hero*/
  .Hero {
      font-size: $font-size-medium; /*mas chiquito*/
      padding-left: 20px;
      text-align: center;
      background-image: $bg-hero; /*cambie imagen*/
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}
/* texto de biografía */
  .biografia p {
      font-size: $font-size-bio-phone; /* tamaño más chiquito */
      line-height: 1.5; /*interlineado más chiquito */
      padding-right: 10px;
      text-align: left;
  }
  .biografia {
      display: flex; /* flexbox*/
      flex-direction: column; /* de forma vertical */
      align-items: center; /* elemntos centrdos */
      padding: 10px;
}
/* imagen biografía*/
  .biografia img {
      width: 100%;
      margin-top: 20px; /* espacio encima de la imagen */
}
/* titulos más chiquitos*/ 
  h2 {
      font-size: $font-size-medium;
      padding: 10px 20px;
  }
  h3 {
      font-size: $font-size-small;
      padding: 10px 20px;
  }
/* contenedor de canciones */
  .contenedor-canciones {
      display: flex;
      flex-direction: column; /*apilados*/
      align-items: center;
      padding: 0 20px;
  }

  /* imagenes contenedor canciones */
  .contenedor-canciones img {
      width: 100%;
      width: $max-img-width;
      height: auto;
      margin-bottom: 20px;
}
  .contenedor-canciones h4 {
      font-size: $font-size-bio-phone;
} 
/* último lanzamiento */
  .ultimo-lanzamiento {
      background-image:$bg-last-release; /*cambio foto*/
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center; /* centro el contenido en y */
      align-items: center; /* centro contenido en x */
      color: $white;
      font-family: 'Times New Roman', Times, serif;
}

/* tamaño h1 */
  .ultimo-lanzamiento h1 {
      font-size: 2rem;
      @include text-center();
      justify-content: center;
      padding:0;
      margin-right:50%;
}

/*tamaño h2 */
  .ultimo-lanzamiento h2 {
      font-size: 1.5rem;
      @include text-center();
      justify-content: center;
      padding: 0;
      margin-right:50%;
}
/*seccion moda*/
.moda section {
  display: flex; /* flexbox */
  flex-direction: column; /* elementos verticalmente */
  gap: 10px;
  padding: 0 10px;
}

.moda section img {
  width: 100%; /* todo el ancho */
  height: auto; 
  object-fit: cover;
  padding: 10px;
}

.moda section h3 {
  font-size: $font-size-small;
}

.moda section p {
  font-size: $font-size-bio-phone;
}} 