/* variables */

/*colores*/
$primary-color: rgb(88, 155, 178);
$light-blue: lightblue;
$white: white;

/*fuente*/
$font-main: "Poppins", serif;
$font-title: "Times New Roman", Times, serif;
$font-alt: 'Bebas Neue', sans-serif;

/*tamaños fuente*/
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-bio-phone: 14 px;
$font-size-small-phone:10px;
$font-size-small-tablet:12px;
$font-size-hero: 40px;
$font-size-subtitle: 35px;

/*imagenes*/
$max-img-width: 300px;
$img-height: 600px;
$img-footer-tablet:12px;
$img-footer-phone:16px;
$bg-hero: url('../img/sabrina_header_celular.jpg');
$bg-hero-normal:url('../img/sabrina_header.avif');
$bg-last-release: url('../img/portada-musica\ -\ copia.jpg');