/*animaciones*/ 
.contenedor-canciones img {
    transition: transform 0.3s ease-in-out;
  }
  
  .contenedor-canciones img:hover {
    transform: scale(1.05); /*se agrandan cuando el cursor está sobre ellas*/
  }
  nav ul li {
    transition: opacity 0.3s ease;
  }
  
  nav ul li:hover {
    opacity: 0.7; /* pierde opacidad la opción del menú cuando pasa el cursor sobre ella*/
  }
  footer {
    opacity: 0; /* invisible */
    transform: translateY(50px); /* se desplaza hacia abajo */
    animation: fadeInUp 1s ease-out forwards;
  }
  footer img:hover{
    opacity:0.7; /*pierde opacidad cuando el cursor pasa sobre el ícono*/
    @keyframes fadeInUp {
        0% {
        opacity: 0; /* opacidad 0 */
        transform: translateY(50px); /* se desplaza hacia abajo */
      }
      60% {
        opacity: 0.5; /* empieza a aparecer */
        transform: translateY(-10px); /*se desplaza hacia arriba */
      }
      100% {
        opacity: 1; /* queda visible */
        transform: translateY(0); /* posición original */
      }
    } }
  .Hero {
    h1{animation: fadeInUp 1s ease-in-out;}
      @keyframes fadeInUp {
        from {
          opacity: 0; /*opacidad 0*/
          transform: translateY(50px);/*se desplaza hacia abajo*/
        }
        to {
          opacity: 1; /*visible*/
          transform: translateY(0); /*posicion original*/
    }}}
  .moda img {
    transition: transform 0.3s ease-in-out;
  }
  .moda img:hover{
    transform: scale(1.05);
  }
  .seccion-tablas tr td {
    transition: 0.3s ease;}

  .seccion-tablas tr td:hover {
    transform: scale(1.02);  /* aumento suave*/
    }
  .ultimo-lanzamiento{
    h2, h1 {
      position: relative;
      transform: translateX(-100%); /* por fuera de la pantalla */
      animation: slide-in 1s ease-out forwards; /* animación */
    }
      @keyframes slide-in {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
      }}