
@use "../bases/operaciones" as *;
@use "../bases/generales" as*;

/* último lanzamiento */
.ultimo-lanzamiento {
    background-image: $bg-last-release;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    @include flex-center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $white;
    padding: 0 0 0 180px;
    font-size: $font-size-hero;
    font-family: $font-title;
  }
  
  .ultimo-lanzamiento h2 {
    font-size: $font-size-subtitle;
    padding-left: 70px;
    color: $white;
    text-align: left;
    margin-top: 20px;
  }
  
  .ultimo-lanzamiento a {
    text-decoration: none;
    color: inherit;
  }
/* contenedor canciones */
.contenedor-canciones {
    @include flex-center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
  }
  
  .contenedor-canciones div {
    @include text-center;
    @include font-main;
  }
  
  .contenedor-canciones img {
    @include img-responsive;
  }
  .contenedor-canciones-spotify {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    gap: 20px; 
    margin: 0 auto; 
    padding: 20px; 
}

.contenedor-canciones-spotify div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 80%; 
    max-width: 400px;
}

.contenedor-canciones-spotify h4 {
    @include text-center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
}
iframe {
    border-radius: 12px;
    width: 100%;
    height: 352px;
    margin-top: 10px;
}